<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.mariotaku.twidere.extension.appwidget"
	android:installLocation="internalOnly"
	android:versionCode="4"
	android:versionName="1.2">

	<uses-sdk
		android:minSdkVersion="11"
		android:targetSdkVersion="17"/>

	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

	<application
		android:allowBackup="false"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name">
		<meta-data
			android:name="org.mariotaku.twidere.extension"
			android:value="true"/>
		<meta-data
			android:name="org.mariotaku.twidere.extension.permissions"
			android:value="2310"/>
		<meta-data
			android:name="org.mariotaku.twidere.extension.settings"
			android:value="org.mariotaku.twidere.extension.appwidget.activity.SettingsActivity"/>

		<receiver
			android:name=".provider.StackWidgetProvider"
			android:label="@string/stack_widget_name">
			<intent-filter>
				<action android:name="org.mariotaku.twidere.HOME_TIMELINE_DATABASE_UPDATED"/>
				<action android:name="org.mariotaku.twidere.MENTIONS_DATABASE_UPDATED"/>
				<action android:name="org.mariotaku.twidere.ACCOUNT_LIST_DATABASE_UPDATED"/>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
			</intent-filter>

			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/stack_widget"/>
		</receiver>
		<receiver
			android:name=".provider.ListWidgetProvider"
			android:label="@string/list_widget_name">
			<intent-filter>
				<action android:name="org.mariotaku.twidere.HOME_TIMELINE_DATABASE_UPDATED"/>
				<action android:name="org.mariotaku.twidere.MENTIONS_DATABASE_UPDATED"/>
				<action android:name="org.mariotaku.twidere.ACCOUNT_LIST_DATABASE_UPDATED"/>
				<action android:name="org.mariotaku.twidere.REFRESHSTATE_CHANGED"/>
				<action android:name="org.mariotaku.twidere.extension.appwidget.REFRESH_ALL"/>
				<action android:name="org.mariotaku.twidere.extension.appwidget.SET_LIST_WIDGET_TYPE"/>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
			</intent-filter>

			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/list_widget"/>
		</receiver>

		<service
			android:name=".service.StackWidgetHomeTimelineService"
			android:permission="android.permission.BIND_REMOTEVIEWS"/>
		<service
			android:name=".service.StackWidgetMentionsService"
			android:permission="android.permission.BIND_REMOTEVIEWS"/>
		<service
			android:name=".service.ListWidgetHomeTimelineService"
			android:permission="android.permission.BIND_REMOTEVIEWS"/>
		<service
			android:name=".service.ListWidgetMentionsService"
			android:permission="android.permission.BIND_REMOTEVIEWS"/>

		<activity
			android:name=".activity.WidgetTypeConfigActivity"
			android:label="@string/widget_type"
			android:theme="@android:style/Theme.Holo.Dialog">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".activity.SettingsActivity"
			android:label="@string/settings">
			<intent-filter>
				<action android:name="org.mariotaku.twidere.EXTENSION_SETTINGS"/>

				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>
	</application>

</manifest>
